
.vs/BabelUI/v16/.suo
.vs/BabelUI/v16/Browse.VC.db
.vs/
*.user
result.png
BabelSlave/x64/
SignBinary.txt
*.obj
*.tlog
*.log
*.recipe
*.idb
*.pdb
Debug/BabelUI.vcxproj.FileListAbsolute.txt
Release/BabelUI.vcxproj.FileListAbsolute.txt
SignBinary.bat
Release/BabelUI.iobj
Release/BabelUI.ipdb
Debug/BabelUI.ilk
Debug/BabelUI.ilk
Debug/BabelUI.ilk
Debug/logger.obj.enc
Debug/BabelUI.ilk
Debug/BabelUI.ilk
